	body {
	position: absolute;
	background-image: url(../img/mountain.jpeg);
	background-size: auto;
	background-repeat: no-repeat;
	overflow: auto;
	font-family: 'Spectral SC', serif;
}

footer {
	color: black;
	font-weight: 100;
	font-size: 12px;
	top: 637px;
	left: 380px;
	font-style: italic;
	position: fixed;
	display: inline;
}

#only {
	margin-top: -80px;
}

#mountains {
	display: none;
}

.mt_chic {
	font-size: 16px;
	color: aliceblue;
	top: 110px;
	left: 20px;
	right: 20px;
	bottom: 50px;
	position: relative;
}

#cont {
	position: fixed;
	/* background-color: rgba(0, 0, 26, 0.44); */
	background-color: rgba(0, 38, 90, 0.85);
	top: 68%;
	left: 50%;
	margin-left: -240px;
	margin-top: -424px;
	width: 324px;
	height: 90%;
	overflow: hidden;
	display: block;
}

#hello {
	display: none;
}

h3 {
	opacity: 0;
	padding-top: 45px;
	text-align: center;
	font-weight: 500;
	color: aliceblue;
	-webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	animation-delay: 2s;
	-webkit-animation-name: falling;
	-moz-animation-name: falling;
	animation-name: falling;
	-webkit-animation-duration: 4s;
	-moz-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes falling {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		display: inline-block;
	}
}

@-moz-keyframes falling {
	from {
		opacity: 0;
		-moz-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		-moz-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		display: inline-block;
	}
}

@keyframes falling {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}
	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		display: inline-block;
	}
}

p {
	opacity: 0;
	color: aliceblue;
	padding-left: 15px;
	padding-top: 37px;
	padding-bottom: 72px;
	font-weight: bolder;
	-moz-animation-name: paragraphing;
	-webkit-animation-name: paragraphing;
	animation-name: paragraphing;
	-webkit-animation-delay: 5s;
	animation-delay: 5s;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes paragraphing {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		color: rgb(184, 217, 245);
	}
}

@-webkit-keyframes paragraphing {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		color: rgb(184, 217, 245);
	}
}

@-webkit-keyframes paragraphing {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		color: rgb(184, 217, 245);
	}
}

@keyframes paragraphing {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}
	to {
		opacity: 1;
		color: rgb(184, 217, 245);
	}
}

H4 {
	opacity: 0;
	font-weight: 700;
	color: rgb(184, 217, 245);
	font-size: 20px;
	padding-top: 70px;
	padding-left: 85px;
	text-align: justify;
	-webkit-animation-name: appearing;
	animation-name: appearing;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-delay: 4s;
	animation-delay: 4s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes appearing {
	0% {
		opacity: 0
	}
	20% {
		opacity: 0.3
	}
	45% {
		opacity: 0.6
	}
	70% {
		opacity: 0.8
	}
	100% {
		opacity: 1
	}
}

@-webkit-keyframes appearing {
	0% {
		opacity: 0
	}
	20% {
		opacity: 0.3
	}
	45% {
		opacity: 0.6
	}
	70% {
		opacity: 0.8
	}
	100% {
		opacity: 1
	}
}

@keyframes appearing {
	0% {
		opacity: 0
	}
	20% {
		opacity: 0.3
	}
	45% {
		opacity: 0.6
	}
	70% {
		opacity: 0.8
	}
	100% {
		opacity: 1
	}
}

h6 {
	color: white;
	text-align: center;
	position: relative;
	margin-top: 11px;
	margin-bottom: 15px;
}

a,
a:hover {
	color: whitesmoke;
	text-decoration: none;
	font-weight: bold;
}

#mail,
#psw {
	/*color:rgba(219, 192, 229, 0.58);*/
	color: white;
	background: transparent;
	border: none;
	border-bottom: 1px solid rgba(219, 192, 229, 0.58);
	position: relative;
	top: 150px;
	margin-left: 6%;
	width: 80%;
	margin-top: 28px;
}

#smile {
	position: relative;
	padding-top: 25%;
	left: 27%;
	right: 27%;
}

#loading {
	opacity: 1;
	position: relative;
	top: 2px;
	right: 20px;
	color: white;
}

.face,
.mouth,
.eyes {
	fill: rgb(170, 170, 255);
	/*fill:transparent;*/
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

@-webkit-keyframes for_face {
	0% {
		opacity: 0
	}
	20% {
		opacity: 0.2
	}
	65% {
		opacity: 0.5
	}
	95% {
		opacity: 0.7
	}
	100% {
		stroke-dashoffset: 0;
		opacity: 1
	}
}

@keyframes for_face {
	0% {
		opacity: 0
	}
	20% {
		opacity: 0.2
	}
	65% {
		opacity: 0.5
	}
	95% {
		opacity: 0.7
	}
	100% {
		stroke-dashoffset: 0;
		opacity: 1
	}
}

.face {
	opacity: 0;
	-webkit-animation-name: for_face;
	animation-name: for_face;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

@-webkit-keyframes for_mouth {
	0% {
		stroke-dashoffset: -6000;
	}
	85% {
		stroke-dashoffset: -100;
	}
	96% {
		fill-opacity: 0;
	}
	100% {
		fill-opacity: 1;
	}
}

@-webkit-keyframes for_mouth {
	0% {
		stroke-dashoffset: -6000;
	}
	85% {
		stroke-dashoffset: -100;
	}
	96% {
		fill-opacity: 0;
	}
	100% {
		fill-opacity: 1;
	}
}

@keyframes for_mouth {
	0% {
		stroke-dashoffset: -6000;
	}
	85% {
		stroke-dashoffset: -100;
	}
	96% {
		fill-opacity: 0;
	}
	100% {
		fill-opacity: 1;
	}
}

.mouth {
	-webkit-animation: for_mouth 5s;
	animation: for_mouth 5s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	stroke-dasharray: 2000, 6000;
	stroke: rgb(170, 170, 255);
	fill-opacity: 0;
	stroke-width: 5;
}

@-webkit-keyframes for_eyes {
	0% {
		opacity: 0
	}
	20% {
		opacity: 0.2
	}
	65% {
		opacity: 0.5
	}
	95% {
		opacity: 0.7
	}
	100% {
		opacity: 1
	}
}

@keyframes for_eyes {
	0% {
		opacity: 0
	}
	20% {
		opacity: 0.2
	}
	65% {
		opacity: 0.5
	}
	95% {
		opacity: 0.7
	}
	100% {
		opacity: 1
	}
}

.eyes {
	opacity: 0;
	-webkit-animation-name: for_eyes;
	animation-name: for_eyes;
	-webkit-animation-duration: 4s;
	animation-duration: 4s;
	-webkit-animation-delay: 3s;
	animation-delay: 3s;
}

.form-btn {
	background: rgb(170, 170, 255);
	border: medium;
	border-radius: 100px;
	color: rgba(9, 6, 10, 0.94);
	font-weight: 680;
	max-width: 250px;
	padding: 10px 0;
	position: relative;
	margin-left: 8%;
	margin-right: 5%;
	width: 90%;
	margin-top: 70%;
	margin-bottom: 5%;
	outline: none;
}


.active-path {
	opacity: 0;
	-webkit-animation-name: round;
	animation-name: round;
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

}

#ten {
	-webkit-animation-delay: 0.2s;
}

#nine {
	-webkit-animation-delay: 0.5s;
}

#eight {
	-webkit-animation-delay: 0.8s;
}

#seven {
	-webkit-animation-delay: 1s;
}

#six {
	-webkit-animation-delay: 1.3s;
}

#five {
	-webkit-animation-delay: 1.2s;
}

#four {
	-webkit-animation-delay: 1.5s;
}

#three {
	-webkit-animation-delay: 1.8s;
}

#two {
	-webkit-animation-delay: 2s;
}

#one {
	-webkit-animation-delay: 2.3s;
}

@-webkit-keyframes round {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
	;
}

@-webkit-keyframes round {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
	;
}

@keyframes round {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
	;
}

@-keyframes round {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
	;
